<template>
  <div class="main">
    <div class="wrapper d-flex align-center flex-column">
      <Header />
      <TodoList />
    </div>
  </div>
</template>
<script>
import Header from '../components/HeaderTodo.vue';
import TodoList from '../components/TodoList.vue';

export default {
  components: {
    Header,
    TodoList,
  },
};

</script>
