<template>
  <div class="todo">
    <form>
      <input v-model="myTodo.title" placeholder="Nouvelle tâche" />
      <label :for="hours">
      <input :id="hours"
      type="number"
      min="0"
      v-model="myTodo.hours"
      placeholder="Temps attribué" />
      </label>
      <select v-model="myTodo.owner">
          <option disabled value="">Selectionnez un responsable</option>
          <option value="Manon">Manon</option>
          <option value="Roméo">Roméo</option>
          <option value="Soy">Soy</option>
      </select>
      <button @click="checkForm">Ajouter</button>
    </form>
    <button @click="deleteAll">Supprimer toutes les tâches</button>
    <div class="erreur-div">
      <div class="erreur" v-for="error in errors" :key="error">
        {{error}}
      </div>
    </div>
    <div class="card">
      <ul>
        <li v-for="todo in todos" :key="todo">
            <p>Tâche : {{ todo.title }}</p>
            <p>Temps de rélatisation : {{ todo.hours }}</p>
            <p>Tâche attribué à : {{ todo.owner }}</p>
            <button @click="editTodo">Modifier</button>
            <button @click="deleteTodo(todo)">Supprimer</button>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: 'TodoList',
  data() {
    return {
      myTodo: {
        title: '',
        hours: 0,
        owner: '',
      },
      todos: [{}],
      errors: [],
    };
  },
  methods: {
    checkForm(e) {
      this.errors = [];
      if (this.myTodo.title !== '' && this.myTodo.hours > 0 && this.myTodo.owner) {
        this.addTodo();
      }
      if (this.myTodo.title === '') {
        this.errors.push(' ⚠️ Titre requis');
      }
      if (this.myTodo.hours <= 0) {
        this.errors.push(' ⚠️ Nombre d\'heure minimum requis');
      }
      if (!this.myTodo.owner) {
        this.errors.push(' ⚠️ Cette tâche doit être attribué à quelqu\'un');
      }
      this.myTodo = { title: '', hours: '', owner: '' };

      e.preventDefault();
    },
    addTodo() {
      this.todos.push(this.myTodo);
    },
    deleteTodo(todo) {
      this.todos = this.todos.filter((i) => i !== todo);
    },
    deleteAll() {
      this.todos = [];
    },
    editTodo() {},
  },
  mounted() {
    this.todos.splice(0);
  },
};
</script>

<style>
  .erreur-div{
    margin-top: 15px;
  }
  .erreur{
    color: red;
    text-align: left;
    width: 350px;
    margin: 5px auto;
  }

  ul{
    list-style-type:none;
  }
</style>
